{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container">
    <div class="row">
        <!-- Kontejner s nápisy -->
        <div class="col-md-6">
            <h1>Welcome, {{ name }}!</h1>
            <form class="form-dashboard" id="DashBoard_heading">
                <h2 class="form-signin-heading">Last measured value:</h2>
                {% if not measured_values %}
                <p>No data found</p>
                {% else %}
                <p>Timestamp: {{ max_timestamp }}</p> 
                <p>Temperature: {{ max_temp }} °C</p>
                {% endif %}
            </form>

            <!-- Tabulka -->
            <div class="container-md-6">
                <table id="measuredValuesTable" class="table table-responsive table-bordered table-custom border-dark table-hover text-center text-capitalize">
                    <thead class="table-dark table-active text-uppercase text-white">
                        <tr>
                            <th>Timestamp</th>
                            <th>Temperature</th>    
                        </tr>
                    </thead>
                    <tbody>
                        {% if not measured_values %}
                        <tr>
                            <td colspan="2">No data found</td>
                        </tr> 
                        {% else %}
                        {% for task in measured_values|reverse %}
                        <tr>
                            <td>{{ task.timestamp }}</td>
                            <td>{{ task.temp }} °C</td>
                        </tr>   
                        {% endfor %} 
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Custom input group 1 -->
        <div class="col-md-6">
            <div class="form-container">
                <div class="custom-input-group">
                    <input type="text" class="custom-input" id="numberOfValues" placeholder="Number of last measured values" aria-label="Number of last measured values" aria-describedby="basic-addon2">
                    <button onclick="performGet()" class="custom-button btn btn-outline-secondary" type="button" >Confirm</button>
                </div>
                <!-- Custom input group 2 -->
                <div class="custom-input-group mt-3">
                    <input type="text" class="custom-input" id="numToDelete" placeholder="Number of values you want to delete" aria-label="Number of values you want to delete" aria-describedby="basic-addon2">
                    <button onclick="deleteLast()" class="custom-button btn btn-outline-secondary" type="button" >Confirm</button>
                </div>
                <!-- Formulář pro přidání úkolu -->
                <div class="card mt-3">
                    <div class="card-body">
                        <form id="add-task-form">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="timestamp" placeholder="timestamp">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="temp" placeholder="temp">
                            </div>
                            <button onclick="performPost()" class="btn btn-primary">Přidat</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
    </div>





</div>


<script>

    function performGet()
    {
        var taskId = $('#numberOfValues').val();
        $.ajax({
            url: '/api/tasks/' + taskId,
            type: 'GET',
            success: function(response) {
                // Vymažeme obsah tabulky
                $('#measuredValuesTable tbody').empty();

                // Pokud byla nalezena odpověď, nahraju nové hodnoty
                if (response.length > 0) {
                    response.forEach(function(task) {
                        $('#measuredValuesTable tbody').append('<tr><td>' + task.timestamp + '</td><td>' + task.temp + '°C</td></tr>');
                    });
                } else {
                    // Pokud nebyly nalezeny žádné údaje, zobrazím zprávu "No data found"
                    $('#measuredValuesTable tbody').append('<tr><td colspan="2">No data found</td></tr>');
                }
            }
        });
        $('#numberOfValues').val('');
        $('#numberOfValues').attr('placeholder', 'Number of last measured values');
    }

    function performPost() {
    var timestamp = $('#timestamp').val();
    var temp = $('#temp').val();
    $.ajax({
        url: '/api/tasks',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ "timestamp": timestamp, "temp": parseFloat(temp) }),  // Převést teplotu na float, pokud je potřeba
        success: function(response) {
            console.log("Úspěšně odesláno do databáze:", response);
            // Pro další akce po úspěšném odeslání dat
        },
        error: function(xhr, status, error) {
            console.error("Chyba při odesílání dat do databáze:", error);
            console.error(xhr.responseText);  // Vypíše detaily chyby zpět z serveru
        }
    });
    }


    function deleteLast() {
    var numToDelete = $('#numToDelete').val();
    $.ajax({
        url: '/api/delete_last/' + numToDelete,
        type: 'DELETE',
        success: function(response) {
            // Vymažeme obsah tabulky
            $('#measuredValuesTable tbody').empty();

            // Pokud byla nalezena odpověď, nahraju nové hodnoty
            if (response.length > 0) {
                response.forEach(function(task) {
                    $('#measuredValuesTable tbody').append('<tr><td>' + task.timestamp + '</td><td>' + task.temp + '°C</td></tr>');
                });
            } else {
                // Pokud nebyly nalezeny žádné údaje, zobrazím zprávu "No data found"
                $('#measuredValuesTable tbody').append('<tr><td colspan="2">No data found</td></tr>');
                $('#DashBoard_heading p').remove(); // Odstranit existující zprávu "No data found"
                $('#DashBoard_heading ').append('<p>No data found</p>');
            }
        },
        
    });
    $('#numToDelete').val('');
    $('#numToDelete').attr('placeholder', 'Number of values you want to delete');
    }

</script>


{% endblock %}