
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand">NSI Project</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            {% if name and request.endpoint == 'web_routes.dashboard' %}
              <li class="nav-item">
                  <span class="navbar-text text-white">User: {{name}}</span>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-white" href="{{url_for('web_routes.login')}}">Login/out</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{{url_for('web_routes.register')}}">Register</a>
              </li>
              
          </ul>
      </div>
  </div>
</nav>